.App {
  text-align: center;
}

.quiz {
  width: 400px;
  border: 1px solid black;
  margin: auto;
  padding: 20px;
}

.question {
  font-size: 20px;
}

.userInput {
  height: 25px;
  font-size: 20px;
  margin: 10px;
  border: 2px solid black;
}

.button {
  height: 25px;
}

button:hover {
  background-color: #757c88;
  color: white;
}
.key {
  margin: auto
}

h1 {
  text-align: center;
}