.App {
  text-align: center;
}

.quiz {
  width: 400px;
  border: 1px solid black;
  margin: auto;
  padding: 20px;
}

.question {
  font-size: 20px;
}

.input {
  height: 20px;
  font-size: 15px;
  margin: 10px;
}

button {
  height: 25px;
}

button:hover {
  background-color: #757c88;
  color: white;
}