.App {
  text-align: center;
}

.form {
  border: 1px gray solid;
  width: 250px;
  padding: 30px 80px;
  margin: 50px auto;
  text-align: right;
}

.buttons {
  height: 25px;
  margin: 10px;
}

button:hover {
  background-color: #757c88;
  color: white;
}

input {
  margin: 5px auto;
}