.navbar {
    margin: auto;
    border: 1px black solid;
    width: 446px;
    background-color: gray;
    text-align: left;
    height: 40px;
}

.profile {
    background-color: gray;
    height: 100%;
    width: fit-content;
    border: none;
    padding: 0 30px;
}

.profile a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.profile:hover {
    background-color: #6699cc;
}

.signout {
    border: none;
    background-color: gray;
    color: white;
    height: 100%;
    font-size: 18px;
    padding: 0 20px;
}

.signout:hover {
    background-color: #6699cc;
}