.details {
    text-align: left;
    width: fit-content;
    margin: 10px auto;
    border: 1px solid black;
    padding: 40px;
}

.backBtn {
    background-color: gray;
    height: 100%;
    padding: 10px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 320px;
}